<h3>Nous contactez</h3>

<form action="/action_page.php" id="usrform">
    Nom: <input type="text" name="usrname"> 
    <br>
    Prenom: <input type="text" name="usrname"> 
    <br>
    E-mail: <input type="text" name="e-mail">
    <br>
    Titre du message: <input type="text" name="titre">

    <br>
<textarea rows="4" cols="50" name="comment" form="usrform">
.</textarea>

    <input type="submit">
</form>

