@{
    ViewData["Title"] = "Store Project";
}*


@* <img src="css/mirror.jpg" height="500" />*@

<article>
    <h2>Store project</h2>
    <p>Bienvenue sur notre site internet</p>
</article>

<div class="container">

    <h4>
        <a asp-controller="Clients" asp-action="ProductsList" class="Lien">Catalog</a>
        <br />

    </h4>

    <h4>
        <a asp-controller="Clients" asp-action="ContactAdmin" class="Lien">Contact</a>
        <br />

    </h4>
</div>
