<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title @ViewData["Title"] = "Store Project"></title>
    <link rel="shortcut icon" href="/css/SPP.jpg">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/3145d710ea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/WebAppliClients.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="button" style="margin-bottom: 0px" title="Retour à l'accueil" href="/"> <img src="~/css/logo-tojjm-green-violet-shirt.jpg" height="90px" /> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            
                            @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="PageAccueil"> <img src="~/css/welcome.png" width="200px"></a> *@
                            @* <a class="button" style="margin-bottom: 0px" title="Retour à l'accueil" href="/"> <img src="~/css/welcome.png" width="100px" /></a> *@
                        </li>
                         
                    </ul>
                </div>
                <a asp-controller="" asp-action="" title="Compte client">
                    <i class="fa-solid fa-user" style="display:block;margin-right:15px;color: #db576b;font-size: 30px;"></i>
                </a>
                  @* <a asp-controller="" asp-action="" title="Compte client"><i class="fa-solid fa-barcode" style="display:block;margin-right:10px;color: #141414;"></i></a> *@
                <a asp-controller="Produits" asp-action="ListeProduits" asp-route-venteId="0" class="fa-solid fa-bars" title="Liste des produits" style="display:block;margin-right:15px; color: #db576b; font-size: 30px; </a>
                    /* <i class="fa-solid fa-bars" style="display:block;margin-right:15px; color: #db576b; font-size: 30px;"></i>
                </a>
                
                @* <div>pour séparer les deux images</div> *@
                <a asp-controller="Produits" asp-action="ContactAdmin" class="fa-solid fa-phone" title="Nous contacter" style="display:block;margin-right:15px; color: #db576b; font-size: 30px; </a>
                /* <i class="fa-solid fa-bars" style="display:block;margin-right:15px; color: #db576b; font-size: 30px;"></i>
                </a>
                
                <a asp-controller="ProduitsVendus" asp-action="ProduitsVendus" asp-route-id="@ViewBag.IdPanier" title="Panier">
                    <i class="fa-solid fa-cart-shopping" style="display:block;margin-right:15px; color: #db576b; font-size: 30px;"></i>
                </a>

            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        
        </div>
    </footer>
    <div b-21nb1t6dc7 class="container">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
