@using ModelsCommun
@{
    ViewData["Title"] = "Demande de contact envoyée";
}

<div class="container mt-5 text-center">
    <h2>Demande de contact envoyée avec succès!</h2>

    <!-- Animation d'exemple -->
    <div class="animate__animated animate__fadeIn animate__delay-1s">
        <i class="fa-solid fa-thumbs-up"></i>
    </div>

    <p class="animate__animated animate__fadeIn animate__delay-2s">Nous reviendrons vers vous au plus vite. Merci pour votre confiance.</p>

    <!-- Lien pour retourner à l'accueil -->
    <a asp-controller="Produits" asp-action="PageAccueil" class="btn btn-primary mt-3 animate__animated animate__fadeIn animate__delay-3s">Retour à l'accueil</a>
</div>

