@* <h3>Nous contactez</h3>

<form action="/action_page.php" id="usrform">

    Nom: <input type="text" name="usrname"> 
    <br>
    Prenom: <input type="text" name="usrname"> 
    <br>
    E-mail: <input type="text" name="e-mail">
    <br>
    Titre du message: <input type="text" name="titre">

    <br>
<textarea rows="4" cols="50" name="comment" form="usrform">
.</textarea>

    <input type="submit">
</form> *@

<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contactez nous</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">
        Une question? N'hésitez pas à nous contacter directement. Notre équipe vous repondra au plus vite pour satisfaire votre demande.
    </p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Your name">
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control" placeholder="Your email">
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <br />
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject">
                        </div>
                    </div>
                </div>
                <br />
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="Message"></textarea>
                        </div>

                    </div>
                </div>
                <br/>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li>
                    <i class="fa-solid fa-location-dot fa-2x"></i>
                    <p>Schiltigheim, 67300, FRANCE</p>
                </li>

                <li>
                    <i class="fa-solid fa-phone fa-2x"></i>
                    <p>+33 3 48 85 15 49</p>
                </li>

                <li>
                    <i class="fa-solid fa-envelope fa-2x"></i>
                    <p>contact@TOJJM.fr</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->