@using WebAppliClients.Models.ViewModel
@model ListViewModel

<div class="container mt-5">
    <h2>Liste des Produits</h2>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Quantité Disponible</th>
              @*   <th>Action</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var produit in Model.ListProduit)
            {
                <tr>
                    <td>@produit.Nom</td>
                        <td>@produit.Prix €</td>
                    <td>@produit.QuantiteDisponible</td>
                    <td>
                        <a asp-action="DetailProduit" asp-route-id="@produit.ID">Selectionner</a>
                    </td>
                </tr>
            } 
        </tbody>
    </table>

    <!-- Ajout bouton pour visualiser le panier -->
    <a asp-controller="ProduitsVendus" asp-action="ProduitsVendus" class=" btn btn-success" title="Panier">Panier</a>
</div>