@{
    ViewData["Title"] = "Store Project";
}


@* <img src="css/mirror.jpg" height="500" />*@
@* 
<article>
    <h3>Store project</h3>
    <p> <h4>Bienvenue sur notre site internet. </h4> </p>
</article> *@

<div class="display" style="display:flex">
    <div>
        <img src="~/css/JM.jpg" width="500px" />
    </div>

    <div >
        <p>
            <blockquote>
                <h4>
                    <a asp-controller="Produits" asp-action="ListeProduits" asp-route-venteId="0" class="Lien" title="Liste des produits" style="left: 90%">Catalog </a>
                    <br />

                </h4>

                <h4>
                    <a asp-controller="Produits" asp-action="ContactAdmin" class="Lien" title="Service clients">Contacts</a>
                    <br />

                </h4>
            </blockquote>
        </p>
        
    </div>
</div>
