@{
    ViewData["Title"] = "Store Project";
}


@* <img src="css/mirror.jpg" height="500" />*@
@* 
<article>
    <h3>Store project</h3>
    <p> <h4>Bienvenue sur notre site internet. </h4> </p>
</article> *@

@* div class="display" style="display:flex">
    <div>
        <img src="~/css/JM.jpg" width="500px" />
    </div>
 *@

<div class="container">
  <div class="leftpane">

      <canvas id="myCanvas" >

      </canvas>
    </div>

    <div class="middlepane">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="css/JM.jpg" class="d-block w-100" alt="Sales">
                <span1> <a href= "http://localhost:5277/List/0" style="text-decoration: none; color: white">Winter sales</a></span1>
                <span2>To keep you warm</span2>
            </div>
            <div class="carousel-item">
                <img src="css/JM-green.jpg" class="d-block w-100" alt="Sales">
                <span4>New collection</span4>
                <span3><a href= "http://localhost:5277/List/0" style="text-decoration: none; color: white">Inspired by nature</a></span3>

            </div>
            <div class="carousel-item">
                <img src="css/JM-violet.jpg" class="d-block w-100">
                <span5> <a href= "http://localhost:5277/List/0" style="text-decoration: none; color: white">Style for every occasion</a></span5>

            </div>
            <div class="carousel-item">
                <img src="css/JM-cyan.jpg" class="d-block w-100">
                 <span1>Comfort</span1>
                  <span2><a href= "http://localhost:5277/List/0" style="text-decoration: none; color: white">Minimalism</a></span2>
                   <span5>Elegance</span5>

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div></div>
  <div class="rightpane">

      <canvas id="myCanvas" >
        </canvas

    </div>
</div>
