<div class="container">

    <h3>
        <a asp-controller="Admin" asp-action="ListeArticles" class="btn btn-outline-dark btn-lg" title="Afficher la liste des articles">Gestion des Articles du e-shop</a>
        <br />
    </h3>
    <h3>
        <a asp-controller="Admin" asp-action="Historique" class="btn btn-outline-dark btn-lg" title="Afficher l'historique des ventes">Historique des ventes</a>
        <br />
    </h3>
